
@{
    ViewBag.Title = "HIV Test Summary";
    Layout = "~/Views/Shared/_LayoutHSIP.cshtml";
}

<div class="row">
    <div class="col-lg-3">
        <p>Start Of Reporting Period</p>
        <p><input type="text" id="dp_start_date" name="dp_start_date" class="e-field e-ejinputtext valid" /></p>
    </div>
    <div class="col-lg-3">
        <p>End Of Reporting Period</p>
        <p><input type="text" id="dp_end_date" name="dp_end_date" class="e-field e-ejinputtext valid" /></p>
    </div>
    <div class="col-lg-3">
        <br />
        <input id="LoadDatabtn" style="margin-top:7px;" class="btn btn-block btn-primary" type="button" value="Load Query" onclick="myfunc()" />
    </div>
</div>
<br />
@(Html.EJ().Grid<object>
        ("grid")
        //.Datasource(datasource => datasource.URL("DataSourceGetAll").Adaptor(AdaptorType.UrlAdaptor))
        .AllowPaging()
        .AllowFiltering()
        .AllowTextWrap()
        .AllowGrouping()
        .ShowColumnChooser()
        .AllowScrolling()
        //.ScrollSettings(scroll =>
        //{
        //    scroll.AllowVirtualScrolling().Height(500).Width(0).
        //    VirtualScrollMode(VirtualScrollMode.Normal);
        //})
        .AllowKeyboardNavigation(true)
        .GroupSettings(group => { group.ShowGroupedColumn(true); })
        .TextWrapSettings(wrap => { wrap.WrapMode(WrapMode.Both); })
        .AllowFiltering()
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
         //.AllowSearching().SearchSettings(search =>
         //{
         //    search.Fields(fields =>
         //    {
         //        //fields.Add("Outcome");
         //        //fields.Add("Output");
         //        //fields.Add("Indicator");
         //        //fields.Add("Indicator_2");
         //        //fields.Add("PerformanceTargetNotes");
         //        //fields.Add("ExplanatoryNotes");
         //    });
         //    search.Operator(Operator.Contains);
         //    search.IgnoreCase(true);
         //})
         .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>
         {
             items.AddTool(ToolBarItems.ExcelExport);
         }))
        .Columns(col =>
        {
            col.Field("SAP_Code").HeaderText("SAP Code").Width("80px").Add();
            col.Field("Facility_Code").HeaderText("Facility Code").Width("180px").Add();
            col.Field("ZoneDescription").HeaderText("Sector").Width("90px").Add();
            col.Field("ImplimentingPartners").HeaderText("IP").Width("90px").Add();
            col.Field("Level_desc").HeaderText("Level of Care").Width("90px").Add();
            col.Field("District_Name").HeaderText("District").Width("100px").Add();
            col.Field("CDCRegion").HeaderText("CDC Region").Width("90px").Add();
            col.Field("ComprehensiveImplementingPartnerDescription").HeaderText("Comprehensive IP").Width("90px").Add();
            col.Field("FacilityType").HeaderText("Facility Type").Width("90px").Add();
            col.Field("Facility").HeaderText("Facility Name").Width("150px").Add();
            col.Field("SupportedByMAUL").HeaderText("MAUL Supported").Width("90px").Add();
            col.Field("IsAccredited").HeaderText("Is Accredited").Width("90px").Add();
            col.Field("SCTO").HeaderText("SCTO").Width("90px").Add();
            col.Field("StartDate").HeaderText("Start Date").Width("80px").Format("{0:dd/MM/yyyy}").Add();
            col.Field("EndDate").HeaderText("End Date").Width("80px").Format("{0:dd/MM/yyyy}").Add();
            col.Field("DatePrepared").HeaderText("Date Prepared").Format("{0:dd/MM/yyyy}").Width("80px").Add();
            col.Field("OrderType").HeaderText("Order type").Width("90px").Add();
            col.Field("Status").HeaderText("Status").Width("100px").Add();
            col.Field("FinalSubmission").HeaderText("Final Submission").Width("80px").Add();
            col.Field("OrderNumber").HeaderText("Order Number").Width("170px").Add();
            col.Field("item_code").HeaderText("Product code").AllowFiltering(false).Width("90px").Add();
            col.Field("Product_SAP_code").Width("90px").AllowFiltering(false).HeaderText("SAP code").Add();
            col.Field("product_description").Width("200px").AllowFiltering(false).HeaderText("product_description").Add();
            col.Field("strength").Width("90px").AllowFiltering(true).HeaderText("strength").Add();
            col.Field("packsize").Width("90px").AllowFiltering(true).HeaderText("pack size").Add();
            col.Field("category_desc").HeaderText("Product Category").AllowFiltering(true).Width("100px").Add();
            col.Field("HCT").HeaderText("HCT").AllowFiltering(true).Width("80px").Add();
            col.Field("PMTCT").Width("80px").AllowFiltering(true).HeaderText("PMTCT").Add();
            col.Field("Clinical_Diagnosis").AllowFiltering(true).Width("100px").HeaderText("Clinical Diagnosis").Add();
            col.Field("SMC").Width("80px").AllowFiltering(true).HeaderText("SMC").Add();
            col.Field("Quality_Control").HeaderText("Quality Control").AllowFiltering(true).Width("200px").Add();

        })
        .ClientSideEvents(eve => { eve.ActionComplete("complete"); eve.ToolbarClick("OnToolbarClick"); })
)

<script>
    $(function () {
        $("#dp_start_date").ejDatePicker(
            {
                width: '240px',
                dateFormat: "dd/MM/yyyy"
            }
        );
        $("#dp_end_date").ejDatePicker(
            {
                width: '240px',
                dateFormat: "dd/MM/yyyy"
            }
        );
    });
    function OnToolbarClick(args) {
        if (args.itemName.indexOf("Export") > -1) {//if no selectedRecords, currenviewdata will be exported
            this.model["SummaryData"] = JSON.stringify(this.model.dataSource, null, 2147483644);
        }
    }
    function myfunc() {
        var dateobject = $("#dp_start_date").data("ejDatePicker");
        var StartDate = dateobject.getValue();
        var dateobject1 = $("#dp_end_date").data("ejDatePicker");
        var EndDate = dateobject1.getValue();
        $.ajax({
            url: "GetQuerySummary",
            type: "Get",
            dataType: "json",
            data: {
                "startdate": StartDate,
                "enddate": EndDate,
            },
            success: function (data) {
                var formatData = ej.parseJSON(data);
                var grid = $("#grid").ejGrid("instance");
                grid.dataSource(data);
                grid.dataSource(formatData);
            }
        });
    }
</script>

