body {
    padding-top: 50px;
    padding-bottom: 20px;
  
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
  
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#AccordionMenu {
    margin: 1em 0 7em -3em;
    padding: 1em 0 0 0;
    background-color: #ffffff;
    color: #996600;
    width: 25%;
    float: left;
}

#Wrapper {
    /*background-color: #3F51B5;*/
    z-index: 1;
    height: 100%;
    width: 300px;
    position: fixed;
}

#page-content-wrapper {
    margin-left: 300px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }


    .red {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .red-content {
        width: 100%;
        height: 300px;
        background: whitesmoke;
        color: #fff;
    }

    @media (min-width: 768px) {
        .carousel-caption {
            text-align: left;
            padding-right: 300px;
        }

        .red {
            width: 750px;
            position: absolute;
            left: 60%;
            top: 0;
            bottom: 0;
            padding: 20px 0;
            margin-left: -375px;
        }

        .red-content {
            width: 440px;
            float: right;
            height: 300px;
            /*background:whitesmoke;*/
            background: -moz-radial-gradient(bottom,#fbdede,transparent);
            background: -webkit-repeating-radial-gradient(bottom,#fbdede,transparent);
            color: whitesmoke;
            margin-right: 15px; /* width of .container gutter */
        }
    }

    @media (min-width: 992px) {
        .red {
            width: 970px;
            margin-left: -485px;
        }
    }

    @media (min-width: 1200px) {
        .red {
            width: 1170px;
            margin-left: -585px;
        }
    }

    /* MISC */
    #homepage-feature .item {
        overflow: hidden;
        height: 400px;
        background-color: transparent;
        background-size: cover;
    }

    #homepage-feature > .carousel-control {
        width: 30px;
        font-size: 40px;
        color: #fff;
        text-shadow: none;
        filter: none;
        opacity: 1;
    }

        #homepage-feature > .carousel-control span {
            position: absolute;
            top: 50%;
            margin-top: -30px;
            width: 100%;
            text-align: center;
            display: block;
        }

    /***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

    /* Tabs panel */
    .tabbable-panel {
        border: 1px solid #eee;
        padding: 10px;
    }

    /* Default mode */
    .tabbable-line > .nav-tabs {
        border: none;
        margin: 0px;
    }

        .tabbable-line > .nav-tabs > li {
            margin-right: 2px;
        }

            .tabbable-line > .nav-tabs > li > a {
                border: 0;
                margin-right: 0;
                color: #737373;
            }

                .tabbable-line > .nav-tabs > li > a > i {
                    color: #a6a6a6;
                }

            .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
                border-bottom: 4px solid #fbcdcf;
            }

                .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
                    border: 0;
                    background: none !important;
                    color: #333333;
                }

                    .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
                        color: #a6a6a6;
                    }

                .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
                    margin-top: 0px;
                }

            .tabbable-line > .nav-tabs > li.active {
                border-bottom: 4px solid #f3565d;
                position: relative;
            }

                .tabbable-line > .nav-tabs > li.active > a {
                    border: 0;
                    color: #333333;
                }

                    .tabbable-line > .nav-tabs > li.active > a > i {
                        color: #404040;
                    }

    .tabbable-line > .tab-content {
        margin-top: -3px;
        background-color: #fff;
        border: 0;
        border-top: 1px solid #eee;
        padding: 15px 0;
    }

    .portlet .tabbable-line > .tab-content {
        padding-bottom: 0;
    }

    /* Below tabs mode */

    .tabbable-line.tabs-below > .nav-tabs > li {
        border-top: 4px solid transparent;
    }

        .tabbable-line.tabs-below > .nav-tabs > li > a {
            margin-top: 0;
        }

        .tabbable-line.tabs-below > .nav-tabs > li:hover {
            border-bottom: 0;
            border-top: 4px solid #fbcdcf;
        }

        .tabbable-line.tabs-below > .nav-tabs > li.active {
            margin-bottom: -2px;
            border-bottom: 0;
            border-top: 4px solid #f3565d;
        }

    .tabbable-line.tabs-below > .tab-content {
        margin-top: -10px;
        border-top: 0;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
    }

    /***end
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/
}
