
@{
    ViewBag.Title = "Regions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Regions</h2>

<div id="ControlRegion">
    @(Html.EJ().Grid<object>("Grid")
        // .Datasource(ds => ds.Json((IEnumerable<object>)ViewBag.datasource))

       // .Datasource(datasource => datasource.URL("GetComplaints")/*.UpdateURL("DialogUpdate").InsertURL("DialogInsert")*/.RemoveURL("DialogDelete").Adaptor(AdaptorType.UrlAdaptor))
       .AllowSearching(true)
    .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.DialogTemplate).DialogEditorTemplateID("#template"); })

    .ContextMenuSettings(contextMenu =>
    {
        contextMenu.EnableContextMenu();
    }).AllowScrolling()
    .ScrollSettings(col => { col.Width(1300); })
    .AllowPaging()
     .AllowFiltering().ShowColumnChooser().AllowResizing()
    .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
    .ToolbarSettings(toolbar =>
    {
        toolbar.ShowToolbar().ToolbarItems(items =>
        {
            items.AddTool(ToolBarItems.Add);
            items.AddTool(ToolBarItems.Edit);
            items.AddTool(ToolBarItems.Update);
            items.AddTool(ToolBarItems.Cancel);
            items.AddTool(ToolBarItems.Search);
            items.AddTool(ToolBarItems.ExcelExport);
        });
    })
    .Columns(col =>
    {
        col.Field("Region_Id").IsPrimaryKey(true).Visible(true).HeaderText("Region code").TextAlign(TextAlign.Justify).Width(100).Add();
        col.Field("Region_Description").HeaderText("Region Description").TextAlign(TextAlign.Justify).Width(150).Add();

    })
    .ClientSideEvents(eve => { /*eve.Load("onLoad");*/ eve.ActionComplete("edit").ToolbarClick("OnToolbarClick"); }))

</div>


<script type="text/template" id="template">
    <b>Facility</b>
    <div id="defaultTab" style="width:900px">
        <table cellspacing="5">

            <tr>

                <td style="text-align: right;">Region Code</td>
                <td style="text-align: left"> <input type="text" id="RegionCode" name="RegionCode" value="{{:Region_Id}}" class="e-field e-ejinputtext valid " /> </td>
                <td style="text-align: right;">Description</td>
                <td style="text-align: left"> <input type="text" id="RegionDesc" name="RegionDesc" value="{{:Region_Description}}" class="e-field e-ejinputtext valid " /> </td>

            </tr>
        </table>
        <div id="dialog">

        </div>
    </div>

</script>
<script>
    $(function () {

        $.ajax({
            url: "GetRegion",
            type: "GET",
            dataType: "json",
            //data: {
            //    date1: f1,
            //    date2: f2
            //},
            success: function (result) {
                var formatData = ej.parseJSON(result);
                var obj = $("#Grid").ejGrid("instance");
                obj.dataSource(result);
                obj.dataSource(formatData);
            }
        });
    });
</script>

<script>
    function OnToolbarClick(args) {
        if (args.itemName.indexOf("Export") > -1) {//if no selectedRecords, currenviewdata will be exported
            this.model["Region"] = JSON.stringify(this.model.dataSource, null, 2147483644);
        }
    }
    function edit(args) {

        if (args.requestType == "beginedit" || args.requestType == "add") {
            window._requestType = args.requestType;
            $($("#EditDialog_Grid_Save").hide()).after('<button id="save" type="button" onclick="savess();" class="btn btn-success btn-sm" > <span class="glyphicon glyphicon-save"></span> Save</button>');
            $("#save").css({ "width": "100px", "height": "50px", "font-size": "17px", "float": "right", "margin-left": "10px", "margin-top": "20px", "margin-bottom": "10px" });
            $("#EditDialog_Grid_Cancel").ejButton("destroy");
            $($("#EditDialog_Grid_Cancel").hide()).after(' <button type="button" id="cancel" onclick="cancelss()" class="btn btn-danger btn-sm" ><span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>');
            $("#cancel").css({ "width": "100px", "height": "50px", "float": "right", "margin-left": "10px", "margin-top": "20px", "margin-bottom": "10px" });
            if (args.requestType == "add") {
                //$.ajax({
                //    url: "CheckCDCRegionNo",
                //    type: "Get",
                //    dataType: "json",
                //    success: function (data) {
                //       // alert(data);
                //        var count = (data + 1);
                //        $('#RegionCode').val(count);

                //        //cancelss();
                //    }
                //});
            }

            if (args.requestType == "beginedit") {
                var cpname = $('#RegionDesc').val();
                $('#' + this._id + '_dialogEdit').ejDialog("option", "title", "Edit " + cpname +"'s details"); //change dialog title
            }
        }

    }

    ///Function to return the dd-mm-YYYY format
      $.validator.setDefaults({
        //to validate all fields(hidden also)
        ignore: [],

        errorClass: 'e-validation-error',
        //it specifies the error message display position
        errorPlacement: function (error, element) {
            $(error).insertAfter(element.closest(".e-widget"));
        },
    });


</script>

<script>
      function savess() {

          var CDC_Code = $('#RegionCode').val();
          var CDC_Desc = $('#RegionDesc').val();
          var _type = 0;
          if (window._requestType == "beginedit") {
              _type = 2;
          }
          else if (window._requestType == "add") {
              _type = 1;
          }
          $.ajax({
              url: "SaveRegion",
              type: "Get",
              dataType: "json",
              data: {
                  "ID": CDC_Code,
                  "Description": CDC_Desc,
                  "_type": _type
              },
              success: function (data) {
                  alert(data);
                  cancelss();
              }
          });
      }
    function cancelss() {
        var obj = $("#Grid").ejGrid("instance")
        obj.cancelEdit();
    }
</script>

<style>
    .e-grid .e-groupdroparea, /*GroupDropArea */
    .e-grid .e-groupdroparea:hover, /*GroupDropArea Hover*/
    .e-grid .e-cloneproperties, /*Column header clone during dragging header*/
    .e-grid .e-groupheadercell:hover, /*HeaderCell in GroupDropArea*/
    .e-grid td.e-active, /*During Row Selected*/
    /*For pager items and their hover*/
    .e-pager .e-currentitem,
    .e-pager .e-currentitem:hover,
    .e-pager .e-link:hover,
    .e-pager .e-icon:hover {
        background-color: #ea1b8d;
    }

    .e-grid .e-gridheader /*For line that separates the grid header and content*/ {
        border-bottom-color: #ea1b8d;
    }

    .e-grid tr.e-hover /*For row hover*/ {
        background-color: #e66aae;
        color: #FFFFFF;
    }

    .e-grid .e-alt_row /*For Alternate row color*/ {
        background-color: #E5E4E2; /*#99CFE3;*/
    }
</style>

<style>
    .e-grid .e-dialog .gridform .e-rowcell {
        padding: .5em;
        border-bottom: 1px solid #c8c8c8;
        border-left: 1px solid #c8c8c8;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #451bb1 /*#3e1111*/;
        color: white;
        /*background-color:silver;*/
        /*color: white;*/
    }
</style>

<style type="text/css" class="cssStyles">
    .control {
        margin-left: 30px;
    }

    .ctrllabel {
        padding-top: 15px;
    }

    .control {
        margin-left: 20px;
    }

    .frame {
        height: 250px;
        width: 1000px;
    }

    .frame1 {
        height: 240px;
        width: 900px;
    }

    .txt {
        display: block;
        margin-bottom: 12px;
    }
</style>

<style>
    #lblComplaintTitle {
        /*font-size: 24px;*/
        background-color: white;
        color: #c9252b;
        vertical-align: top;
        /*width: 700px;*/
    }

    .redLabels {
        /*font-size: 24px;*/
        background-color: white;
        color: #ff0000;
        vertical-align: top;
        font-weight: bold;
        /*width: 700px;*/
    }

    .myDiv {
        font-size: 18px;
        background-color: white;
        color: orangered;
        vertical-align: top;
        text-align: center;
        /*width: 700px;*/
    }
</style>

<style>
    .e-grid .e-dialog .gridform .e-rowcell {
        padding: .5em;
    }

    .custom.e-js .e-header {
        background: #c9252b;
    }

    .custom.e-js .e-content {
        background: #ddd;
    }

    .custom .e-rbn-button.e-btn.e-select {
        background: #f5f5f5;
        color: #333;
    }

    .tabstyle {
        background: #F9F9F9;
        border-radius: 10px;
        border: 1px solid #99CFE3;
        display: block;
    }

    .longcolumns {
        width: 600px !important;
        margin: 0 auto !important;
        position: relative !important;
        border-right: 5px #666 outset !important;
        border-left: 5px #666 outset !important;
    }
</style>




