
@{
    ViewBag.Title = "Example";
    Layout = "";
}

    <link href="~/LoginScrips/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/LoginScrips/animate/animate.css" rel="stylesheet" />
    <link href="~/LoginScrips/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="~/LoginScrips/animsition/css/animsition.min.css" rel="stylesheet" />
    <script src="~/LoginScrips/select2/select2.min.js"></script>
    <link href="~/LoginScrips/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/LoginScrips/css/util.css" rel="stylesheet" />
    <link href="~/LoginScrips/css/main.css" rel="stylesheet" />
<body style="background-color: #999999;">

    <div class="limiter">
        <div class="container-login100">
            <div class="login100-more" style="background-image: url('images/bg-01.jpg');"></div>

            <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-59">
                        Login
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text" name="username" placeholder="Username...">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="text" name="pass" placeholder="*************">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Sign Up
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/LoginScrips/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/LoginScrips/animsition/js/animsition.min.js"></script>
    <script src="~/LoginScrips/bootstrap/js/popper.js"></script>
    <script src="~/LoginScrips/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/LoginScrips/select2/select2.min.js"></script>
    <script src="~/LoginScrips/daterangepicker/moment.min.js"></script>
    <script src="~/LoginScrips/daterangepicker/daterangepicker.js"></script>
    <script src="~/LoginScrips/countdowntime/countdowntime.js"></script>
    <script src="~/LoginScrips/js/main.js"></script>
</body>